{
  "env": {
    "browser": true,
    "es6": true
  },
  "root": true,
  "extends": ["airbnb"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
     "React": "writable"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/react-in-jsx-scope": "off",
    "import/no-unresolved": [ "error", { "ignore": ["^@"] }],
    "no-console": "warn",
    "max-len": [
      "error",
      {
        "code": 100,
        "ignoreComments": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": 0,
    "no-underscore-dangle": "off",
    "jsx-a11y/interactive-supports-focus": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-to-interactive-role": "off",
    "template-curly-spacing" : "off",
    "indent" : "off",
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "hrefLeft", "hrefRight" ],
      "aspects": [ "invalidHref", "preferButton" ]
    }],
    "react/no-danger": "off"
  },
  "parser": "babel-eslint"
}